NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_ADMIN_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI3NzA2M2Y3Zi02MjdjLTQ2ZWUtOTFhOS0xZjdmMWZmZjM5OWIiLCJlbWFpbCI6InRlc3RAZ21haWwuY29tIiwiaXNBZG1pbiI6dHJ1ZSwiaWF0IjoxNzUwMTAzMjYzLCJleHAiOjE3NTAzNjI0NjN9.PBYANsCd-Qbsrp1Ow7aUF2jpMR5uDSmYSknJplamgLU